%div.front  
  %div.welcome
    %h1
      Browse cool Christmas gift ideas!
      %h4
        Having trouble finding a unique, low-budget gift for a coworker or a relative? 
        %p
          Register or Sign in and check out what others have to recommend!