%div.front  
  %div.welcome
    %h1
      Browse cool Christmas gift ideas!
      %h4
        Having trouble finding a unique, low-budget gift for a coworker or a relative? 
        %p
          Check out what others have to recommend!
        %br
        %br
          %h5
            %div.stuff
              %form.form-inline
                .form-group
                  %input.form-control{:placeholder => "Username", :type => "username"}
                .form-group
                  %input.form-control{:placeholder => "Password", :type => "password"}
                %fieldset.form-group.action
                  %input(type="submit" value="Sign in" class="btn btn-default")
                %br
                %br
                  Don't have an account? Click here to Register.