%div.pool
  %div.pooly
    %h1
      Pool of ideas!
    %h5
      Home | Add Gift Idea | Logout
    - 3.times do
      %div.quote-container
        %i.pin
        %blockquote.note.yellow
          We can't solve problems by using the same kind of thinking we used when we created them.
          %cite.author Albert Einstein
