%div.front  
  %div.welcome
    %h1
      Register
      %h5
      %br
      %br
        %div.stuff
          %form.control
            .form-group
              .row
                .col-sm-4
                  %input.form-control{:placeholder => "Username", :type => "username"}
            .form-group
              .row
                .col-sm-4
                  %input.form-control{:placeholder => "Password", :type => "password"}
            %fieldset.form-group.action
              %input(type="submit" value="Register" class="btn btn-default")